.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: paleturquoise;
}

/* Notifications table styles */
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 5px;
  border: 1px solid grey;
  border-collapse: collapse;
  border-spacing: 2px;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Star repo styles */
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}

/* Unread notifications styles */
.unread-notifications {
  font-weight: bold;
  background-color: #e9ecef
}